<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,269},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,922},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,807},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,692},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,577},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,462},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,347},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,232},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,180},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,180},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,180},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,180},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>A_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,180},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,922},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,807},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,692},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,577},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,462},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,347},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,232},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,117},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,91},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,91},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,91},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,91},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>B_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,91},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,91},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,922},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,807},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,692},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,577},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,462},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,347},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,232},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,117},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,2},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>C_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,2},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,807},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,577},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,347},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
            <key>D_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,113}}</string>
                <key>sourceSize</key>
                <string>{87,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card_plist.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7dcf3b9222021220c5b626ea011ad47:1/1$</string>
            <key>textureFileName</key>
            <string>card_plist.png</string>
        </dict>
    </dict>
</plist>
