@charset "utf-8";
/* CSS Document */
body{margin:0; padding:0px;font-size:1.5em; text-align:center;background:#e3e5e8; }
.clear{clear:both;width:100%;height:0;font-size:0px;line-height:0; overflow:hidden; margin:0; padding:0;}
.main{width:640px; margin:0 auto;}
.logo{background:#000; width:640px; height:247px; background:#fff url(../images/720/logo.png) no-repeat center 0;}
a{color:#fff; text-decoration:none;}
.box_top{width:640px; height:250px; padding:10px 0;}
.box_left_a{float:left; width:350px; height:250px; background:#fd8e4a url(../images/720/img01.png) no-repeat 0 center; margin:0 10px 0 10px; text-align:left;}
.box_left_a a{display:block;width:320px;  height:144px; color:#fff; padding:25px 0 0 25px;}

.box_righ_a{float:left; width:340px; height:250px;}
.box_righ_a_top{ width:340px; height:120px;margin-bottom:10px;background:#f2ba34 url(../images/720/img02.png) no-repeat center 20px;}
.box_righ_a_top a{display:block;width:340px; height:45px;color:#fff; text-align:center; padding:80px 0 0 0; }

.box_right_a_l{ float:left; width:165px; height:120px;background:#f0563c url(../images/720/img03.png) no-repeat center 20px; margin-right:10px;}
.box_right_a_r{ float:left; width:165px; height:120px;background:#ed585c url(../images/720/img04.png) no-repeat center 25px;}
.box_right_a_l a,.box_right_a_r a{display:block;width:165px; height:40px;padding:80px 0 0 0;}

.box_mid{width:640px;height:165px;}
.box_left_b{float:left;width:350px; height:165px; background:#f8888b url(../images/720/img05.png) no-repeat center 40px; margin:0 10px;}
.box_left_b a{display:block;width:350px; height:55px; padding:110px 0 0 0 ;}

.box_right_b{float:left;width:340px; height:165px; background:#fbbe7c url(../images/720/img06.png) no-repeat center 35px; margin:0;}
.box_right_b a{display:block;width:340px; height:55px; padding:110px 0 0 0 ;}

.box_c{float:left;width:170px; height:194px; background:#652b2f url(../images/720/img07.png) no-repeat center 60px; margin:0 10px 0 10px;}
.box_c a,.box_d a,.box_e a{display:block;width:170px; height:75px; padding:120px 0 0 0 ;}
.box_d{float:left;width:170px; height:194px; background:#2abc08 url(../images/720/img08.png) no-repeat center 60px; margin:0 10px 0 0;}
.box_e{float:left;width:165px; height:194px; background:#fd8e4a url(../images/720/img09.png) no-repeat center 50px;}
.box_f{float:left;width:165px; height:194px; background:none; padding:0 0 0 10px;}
.about_top a{display:block;width:165px; height:32px; padding:60px 0 0 0 ;background:#fd8e4a url(../images/720/img10.png) no-repeat center 10px; font-size:1em;}
.help_bottom a{display:block;width:165px; height:32px; padding:60px 0 0 0 ;background:#c4674e url(../images/720/img11.png) no-repeat center 10px;margin:10px 10px 0 0;font-size:1em;}
.box_footer{width:640px;height:130px; padding:10px 0;}